#content{
    margin-top:20px;
}
#content span {
    color:grey;
}
.error{
    background-color: pink;
    padding:3px;
    text-align:center;
    justify-content: center;
    align-content:center;
}
.delete_button{
    background-color:#dc3545;
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    line-height:18px;
    text-align:center;
    letter-spacing:normal;
    box-shadow:none;
    border-radius:3px;
}